# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/interim/*
!data/raw/.gitkeep
!data/interim/.gitkeep

# ML models
ml/models/*
!ml/models/.gitkeep
!ml/models/pilot_model_v5_xgboost.json
!ml/models/pilot_model_v5_metadata.json

# IDE
.idea/
.vscode/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db
test.csv
.gitignore
train.csv
